.hr1 {
  margin: 0 0 20px;
  width: 30%;
  border-top: 2px solid #a8a8a83d;
}
.hr2 {
  margin: 0;
  /* width: 30%; */
  border-top: 2px solid #a8a8a83d;
}

.leftTrending {
  text-align: left;
  margin: 0;
  padding: 0;
}

.leftTrending h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.leftTrending br {
  margin: 0;
  padding: 0;
}
.leftTrending p {
  margin: 20px 0 15px;
  color: #949cb0;
}

.movieName {
  text-align: left;
  font-weight: bold;
}

#movies {
  position: relative;
}
#movies span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #24baef;
  /* color: green; */
}
