@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700;800&family=Montserrat+Alternates:ital,wght@1,300&family=Poppins:wght@800&family=Source+Sans+Pro:wght@300&display=swap");
body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #131722;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
